/* @import "main.css" */

body {
  background-color: #181a1b;
}
/* {
  background-color: #1a1c1d;
} */

.box {
  background-color: #191a1b;
  border-color: #4c4c4c;
}

.navbar, .box p {
  background-color: #1a1c1d;
}

.navbar {
  border-bottom-color: #0062cc;
	box-shadow: 0 1px 4px #0063cf;
}

.box p {
  color: #b4b0a6;
}

.checkbox_text {
  background-color: #191a1b !important;
  color: #bab5ab !important;
}

.checkbox_text_dm {
  background-color: inherit !important;
  color: #bab5ab;
}

a.logo {
  color: #e8e6e3;
}

#desc,.small-print {
  color: #bab5ab;
}

.slider {
  background-color: #27292b;
}

.slider:before {
  background-color: #181a1b;
}

input:checked + .slider {
  background-color: #0062cc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0062cc;
}
/* TODO text and buttons */

.title, .center, .to {
  color: #dad7d2;
}

.btn-secondary {
  background-color: #3f4346;
  border-color: #4b5156;
}

.btn-primary {
  background-color: #0062cc;
  border-color: #0062cc;
}

.btn-primary:hover {
  background-color: #00336b;
  border-color: #00336b;
}

.dropdown-menu {
  background-color: #181a1b;
  border-color: #232526;
}

.dropdown-item {
  color: #dad7d2;
}
